body {
    font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* --------------SECTION------------- */

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* --------------CONTAINER------------- */

.container {
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding: 0 15px;
    }
}

/* --------------HEADER------------- */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.menu-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
}

.menu-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-link {
        position: relative;
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        color: #404bbf;
    }

    .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover::after,
    .nav-link:focus::after,
    .nav-link.current::after {
        opacity: 1;
    }

    .contacts-link:hover,
    .contacts-link:focus,
    .nav-link:hover,
    .nav-link:focus,
    .nav-link.current {
        color: #404bbf;
    }

    .contacts {
        font-style: normal;
        display: block;
        margin-left: auto;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-btn {
        display: none;
    }
}

@media screen and (min-width: 1158px) {

    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* --------------MOB-MENU------------- */

.mobile-menu {}

.mobile-menu-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    padding-top: 72px;
    padding-bottom: 40px;
}

.menu-closure {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
}

.icon-close {

    stroke: #2e2f42;
}

.menu-navigation {}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}

.menu-item {}

.menu-link {}

.menu-current {}

.menu-contacts {}

.menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.menu-contacts-item {}

.menu-contacts-link {
    font-style: normal;
}

.menu-socials {
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
    margin-top: 48px;
}



/* --------------HERO------------- */

.hero {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/dark-bg-mob.jpg);
    background-repeat: no-repeat;
    max-width: 320px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

@media screen and (min-resolution: 2x),
(-webkit-min-device-pixel-ratio:2) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/dark-bg-mob-2x.jpg);
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/dark-bg-ipad.jpg);
        max-width: 768px;
    }

    @media screen and (min-resolution: 2x),
    (-webkit-min-device-pixel-ratio:2) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/dark-bg-ipad-2x.jpg);
        }
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-1.jpg);
        max-width: 1440px;
    }

    @media screen and (min-resolution: 2x),
    (-webkit-min-device-pixel-ratio:2) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office-2x.jpg);
        }
    }

    .hero-title {
        margin-bottom: 48px;
    }
}

/* --------------FEATURES------------- */

.features-title {
    text-align: center;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.features-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 8px;
}

.features-svg-container {
    display: none;
}

@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }

    .features-subtitle {
        text-align: left;
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 1158px) {

    .features-list {
        gap: 24px;
    }

    .features-item {
        width: calc((100% - 72px) / 4);
    }

    .features-svg-container {
        display: block;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
    }

    .features-icons-container {
        padding: 24px 100px;
    }

    .features-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

/* --------------TEAM------------- */

.team-container.container {
    padding: 0 28px;
}

.team-section {
    background: #f4f4fd;
}

.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-item {
    background-color: #ffffff;
    width: 100%;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-wrapper {
    padding: 32px 16px;
    text-align: center;
}

.team-user {
    margin-bottom: 8px;
}

.team-socials {
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.team-social-link,
.menu-social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon,
.menu-social-icon {
    fill: #f4f4fd;
}

.team-social-link:hover,
.team-social-link:focus,
.menu-social-link:hover,
.menu-social-link:focus {
    background-color: #404bbf;
}


@media screen and (min-width: 768px) {
    .team-container.container {
        padding: 0 108px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }

}

@media screen and (min-width: 1158px) {
    .team-container.container {
        padding: 0 15px;
    }

    .team-list {
        flex-direction: row;
        gap: 24px;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }
}

/* --------------PORTFOLIO------------- */

.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-item {
    width: 288px;
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-text-img,
.portfolio-item:focus .portfolio-text-img {
    transform: translateY(0);
}

.portfolio-item-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-text-img {
    color: #f4f4fd;
    background-color: #4d5ae5;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-subtitle {
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .portfolio-item {
        width: 356px;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-list {
        gap: 48px 24px;
    }

    .portfolio-item {
        width: 360px;
    }
}

/* --------------FOOTER------------- */

.footer {
    background: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer-left-position {
    max-width: 288px;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text {
    text-align: left;
    color: #f4f4fd;
    margin-top: 16px;
}

.footer-text-socials {
    font-weight: 500;
    color: #fff;
    margin: 0;
}

.footer-socials {
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
    margin-top: 16px;
}

.footer-social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon,
.subscribe-icon {
    fill: #f4f4fd;
}

.footer-social-link:hover,
.footer-social-link:focus,
.footer-btn:hover,
.footer-btn:focus {
    background-color: #31d0aa;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.footer-input {
    width: 288px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    padding-right: 16px;
    color: #fff;
    outline: none;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
    border: 1px solid #31d0aa;
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #fff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    max-height: 40px;
    display: flex;
    gap: 16px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
    fill: #fff;
}

@media screen and (min-width: 768px) {
    footer .container {
        padding: 0 108px;
    }

    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        align-items: baseline;
        justify-content: start;
        gap: 72px 24px;
    }

    .footer-left-position {
        max-width: 264px;
    }

    .footer-subscribe {
        flex-direction: row;
        gap: 24px;
        margin-top: 16px;
    }

    .footer-input {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }

    footer .container {
        padding: 0 15px;
    }

    .footer-container {
        flex-wrap: nowrap;
        justify-content: unset;
        gap: 0;
    }

    .footer-left-position {
        margin-right: 120px;
    }

    .footer-subscribe-container {
        margin-left: auto;
    }
}